// Card
.login-card {
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 50%;
    min-height: 450px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

// Content types
.grid-type-1 {
    display: grid;
    grid-template-rows: 5em 1fr;
}

// TODO: import in saruma
.form-message {
    display: block;
    color: $white;
    font-size: $size-small;
    text-align: center;
}

.s-clipped {
    overflow: hidden!important;
}





// D-flex displayed
.controls-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//Courses
.card-content-title {
    font-weight: $weight-semibold;
    text-align: center;
    overflow-wrap: anywhere;
}


//Table
.row-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    &.s-center {
        align-items: center;
        justify-content: center;
    }
}

//Creating test modal
.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//Div boxes
.box-title {
    display: block;
    font-size: $size-5;
    padding: 0 1rem;
    border: 2px solid $border;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0.75rem;
}


//Element UI
.el-date-table td.current:not(.disabled) span {
    text-align: center;
}
